<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Reminder</title>
</head>
<body>
    
    <h1>Hello Grocery Store Customer</h1>
    <hr>
    <p>Here is your daily reminder to explore and buy some fresh groceries today.</p>
    <p>
        Fresh groceries are not only delicious but also packed with essential nutrients that are beneficial for your health. 
        Consuming fresh fruits, vegetables, and other products directly contributes to your well-being, 
        boosts your immune system, and can even improve your mood. Plus, by buying fresh groceries, 
        you're supporting local farmers and sustainable agriculture.
         So why wait? Explore our fresh produce and make a healthy choice today!
    </p>
    <hr>
    <p>Click <a href="http://localhost:8080/">here</a> to visit our website.</p>
    <p>Thank you for shopping with us!</p>
</body>
</html>